*{margin:0px;padding: 0px;}

.nav{
    margin-bottom:-15px!important;
    margin-top:2px!important;
    font-weight: 600;
    opacity: 1;
    letter-spacing: 0px;
}
.navbar-header{
   
    margin-left: 100px!important;
    margin-top: 10px!important;
    

}
.navbar-nav{
    align-items: center;
}
.z1{
    background-image: url("1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    
}

.pt-4{
    padding-top: 4px !important;
}
.flexbox{ 
    display: flex!important;
 -webkit-box-pack: justify!important;
 justify-content: space-between!important;
}
.b1{
    margin-top: 80px;
    align-items: center;
    height: 15vh;
}
.fs-25{
    font-size: 25px !important;
    font-size: 300px;
}
.l1{
    margin-left: 305px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.k1{
    margin-top: 180px!important;
    margin-left: 100px!important;
}
h1{
    font-family: "Dosis","Open Sans",sans-serif;
    font-size: 2.5rem;

}

.text-white{
    color: azure;
}
.col-12{
    padding: 10px;
}
.fs-70{
    font-size: 70px !important;
}
.t1{

margin-top: 105px!important;
 margin-left: 100px!important;
 padding: 20px!important;
 
}
.i1{
    margin-top: 100px;
    margin-left: 210px;
    margin-right: 10px;
    font-size: 30px;
    
}
el{
    vertical-align: center;


}
.text1{
    font-size: 50px;
}
.z1{
    background-image: url("1 .jpg");
   
}
.section{

    background-color: whitesmoke;
    overflow-x: hidden;
}
.lead{
    font-size: 1.9375rem!important;

}
.leadl{
    padding-left: 170px;
    padding-right:150px;
    font-size: 1.7rem;
    margin-top: 30px;
}
li{
    font-size:13!important;
    padding: 10px !important;
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}
.icon-lock{
    font-family: et-line;
}
.flexbox{ 
    display: flex!important;
 
}
.btn {
    font-size: 13 !important;
    border:1px solid !important ;
    color:black !important ;
    padding:7px 10px !important ;
    width:40px 40px !important;
    background-color: white !important;
    margin-top:10px !important;
}
.btn-primary{
    font-size: 13 !important;
    border:1px outset  !important ;
    color:whitesmoke !important ;
    padding:10 25 10 25 !important ;
    width:60px 60px !important;
    background-color:#5fc9c1 !important;
    margin-top:10px !important;
}
.btn-white{
    font-size: 13 !important;
    
    border:none!important;
    color:black !important ;
    padding:10 25 10 25 !important ;
    width:60px 60px !important;
    background-color:whitesmoke!important;
    margin-top:10px !important;
}
.topbar-brand{
    align-items: center!important;
}
.pr-20{
    padding: 12px!important;
}
n1{
    text-align: center;
}